/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
	overflow-x: hidden;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2 {
	font-family: 'Inter', sans-serif;
}

h1 {
	font-size: 40px;
	font-weight: 600;
	padding: 50px 25px;
	text-align: center;
}

h2 {
	font-size: 15px;
	font-weight: 600;
	text-align: center;
	padding: 8px 0;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	color: rgb(36, 110, 153);
}

.recipes {
	display: flex;
	justify-content: center;
	flex-direction: column;
	padding-top: 50px;
}

img {
	width: 55%;
	-webkit-box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2); 
	box-shadow: 0px 15px 20px -5px rgba(0,0,0,0.2);
	border-radius: 15px;
}

.img {
	display: flex;
	justify-content: center;
}

.inner-wrap {
	width: 100%;
	max-width: 600px;
	display: flex;
	flex-direction: column;
	background-color: white;
	min-height: 90vh;
	border-radius: 37px;
	margin: 1%
}

.outer-wrap {
	width: 100vw;
	min-height: 100vh;
	height: 100vh;
	display: flex;
	justify-content: center;
	background-color: rgb(28, 93, 179);
}

.recipe-button {
	margin: 10px auto;
	padding: 0 20px;
	border-radius: 8px;
	background-color: rgb(222, 229, 231);
	-webkit-box-shadow: 0px 15px 20px -5px rgba(209, 221, 238, 0.1); 
	box-shadow: 0px 15px 20px -5px rgba(186, 202, 231, 0.1);
}

.back-button {
	display: none;
	position: fixed;
	bottom: 20px;
	left: 20px;
	right: 0;
	width: 100px;
	padding: 10px 20px;
	border-radius: 8px;
	background-color: rgb(222, 229, 231);
	-webkit-box-shadow: 0px 15px 20px -5px rgba(209, 221, 238, 0.1); 
	box-shadow: 0px 15px 20px -5px rgba(186, 202, 231, 0.1);
}
